@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
input{
    /* width: 1em; */
}
.calculate-btn{
    width: 100%;
}
.card{
    background-color: white;
    padding: 20px;
}
.none{
    display:none;
}
.block{
    display:block;
}